spring:
  profiles:
    active: local
    group:
      local: local, datasource, auth, s3, kakao-map
      prod: prod, datasource, auth, s3, kakao-map
  config:
    import: optional:file:.env[.properties]

  jackson:
    serialization:
      fail-on-empty-beans: false
    time-zone: Asia/Seoul

server:
  base-uri: ${SERVER_URI}
ai:
  server-uri: ${AI_SERVER_URI}

youtube:
  key: ${YOUTUBE_KEY}

openai:
  api:
    key: ${OPENAI_API_KEY}
    url: https://api.openai.com
  model: gpt-4o-mini

cors:
  allowed-origins: http://localhost:3000, https://readingtown.site, https://dev.readingtown.site